.event-list {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .event-list h2 {
    font-size: 2rem;
  }
  
  .event-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list li {
    margin-bottom: 15px;
  }
  
  .event-list a {
    text-decoration: none;
    color: #f26b38;
    font-size: 1.2rem;
  }
  
  .event-list a:hover {
    text-decoration: underline;
  }
  