<nav class="navbar">
    <div class="container navbar-container">
        <a class="navbar-logo" routerLink="#">Logo</a>
        <ul class="navbar-links">
            <li><a routerLink="#home">Home</a></li>
            <li><a routerLink="#events">Eventos</a></li>
            <li><a routerLink="#portfolio">Portfólio</a></li>
            <li><a routerLink="#contact">Contato</a></li>
        </ul>
        <button class="navbar-contact-btn" routerLink="#contact">Entrar em contato</button>
    </div>
</nav>