/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  
  .navbar-links li {
    margin-right: 30px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #f26b38;
  }
  
  .navbar-contact-btn {
    background-color: #f26b38;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-contact-btn:hover {
    background-color: #e65c2f;
  }
  