.banner {
    background-image: url('/assets/images/banner.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
  }
  
  .banner h1 {
    font-size: 3rem;
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .banner button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #f26b38;
    border: none;
    color: white;
    cursor: pointer;
  }